
appicon.ico
__pycache__/WorldBackupAndCopy.cpython-38.pyc
build/WorldBackupAndCopy/Analysis-00.toc
build/WorldBackupAndCopy/base_library.zip
build/WorldBackupAndCopy/EXE-00.toc
build/WorldBackupAndCopy/PKG-00.pkg
build/WorldBackupAndCopy/PKG-00.toc
build/WorldBackupAndCopy/PYZ-00.pyz
build/WorldBackupAndCopy/PYZ-00.toc
build/WorldBackupAndCopy/Tree-00.toc
build/WorldBackupAndCopy/Tree-01.toc
build/WorldBackupAndCopy/Tree-02.toc
build/WorldBackupAndCopy/warn-WorldBackupAndCopy.txt
build/WorldBackupAndCopy/WorldBackupAndCopy.exe.manifest
build/WorldBackupAndCopy/xref-WorldBackupAndCopy.html
WorldBackupAndCopy.spec
